extends ../includes/layout

block main-content
   .navbar.navbar-default.navbar-fixed-top
      .container-fluid
         .navbar-header
            a.navbar-brand(href='/') GoToEvent
            h6 - In Townsville
         .navbar-collapse.collapse
            ul.nav.navbar-nav(ng-controller="mvNavBarLinkCtrl")
               li
                  a(href='/') Home
               li
                  a(href='/events') Events
               li(ng-show="identity.currentUser.isAdmin()")
                  a(href='/newEvent') Create Event

            div(ng-include="'/partials/account/navbar-login'")
   section.content
      div(ng-view)


   footer.container.text-center
      p &copy; 2013 MeanVision Corp International Ltd.
